*{
  font-family: 'Josefin Sans', sans-serif;
}
.w-6{
  width: 20px;
}
.h-6{
  height: 20px;
}

body{
  background: url("../img/logo/logo_transparent.png") 200px left center no-repeat;
}


.cursor-pointer{
  cursor: pointer;
}

input::placeholder{
  color: var(--ash-gray) !important
}
input, select{
  color: white !important;
  background-color: transparent !important;
}

select > option {
  background: var(--dark-slate-gray);
}

.rounded-lg{
  border-radius: 20px;
}

.form-control:focus{border-color: var(--hookers-green);  box-shadow: none; -webkit-box-shadow: none; border-left: 0;} 
.form-control:focus#searchInput{ border-right: 0;}
.has-error .form-control:focus{box-shadow: none; -webkit-box-shadow: none;}


.border-l-0{
  border-left: none;
}

.input-group{
  padding: 0;
}

.btn-outline-success{
  border-width: 2px;
  border-color: var(--hookers-green) !important;
  color: white !important;

}
.btn-outline-success:hover{
  background-color: var(--hookers-green) !important;
  color: white !important;
}

input[disabled]{
  cursor:not-allowed;
  background: var(--charcoal) !important;
}